figure {max-width: 650px; margin: auto;}
figure img {width: 100%}
header, main, footer {width: 90vw;}
#tetlist {display:flex; flex-flow: row wrap;}
.tet {flex: 0 1 200px; border: 1px solid black; text-align: center;}
#tetlist img {width: 60%;}
span {display: block; margin-top: 12px; margin-bottom: 12px; font-size: larger; font-weight: bold;}
.aliases {text-align: left; margin: 1em;}
.long img {width: 80%;}
.square img {width: 40%;}